.adminsidebar{
    height: 100vh !important;
    position: fixed;
    top: 0;
    left: 0;

    .nav-item{

        &:hover{
            background-color: #fff;
            .nav-link{
                color: black !important;
            }
        }
    }
}
